+b.SECTION.soon._center
	+e.bg
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
		span
	+e.container.container
		+e.logo
			+e.IMG.logo-icon(src="img/logo.svg")
		+e.H1.title.title-lg soon will even be more juicy
		+e.P.subtitle contact us
		+e.links
			+e.A.link(href="mailto: ig@rocketjuicefilm.productions") 
				+e.SPAN.link-text ig@rocketjuicefilm.productions
			+e.A.link(href="mailto: info@rocketjuicefilm.productions") 
				+e.SPAN.link-text info@rocketjuicefilm.productions
			+e.A.link(href="tel: +3 80 67 463 4158") 
				+e.SPAN.link-text cell: +3 80 67 463 4158