+b('soon')
	+relative
	display: flex
	align-items: center
	height: 100vh
	background-color: $color-brand-1
	text-transform: uppercase
	font-size: 23px
	overflow: hidden
	z-index: 1

	+m('center')
		justify-content: center
		text-align: center

	+min(md)
		min-height: 600px

	+e('logo')

		+ee('icon')

			height: 150px

			+min(sm)
				height: 200px

			+min(md)
				height: 250px

	+e('bg')

		+absolute(0, null, null, 0)
		+size(100%)
		z-index: -1

		$particleSize: 5vmin
		$animationDuration: 20s
		$amount: 10
		span
			width: $particleSize
			height: $particleSize
			border-radius: $particleSize
			backface-visibility: hidden
			position: absolute
			animation-name: move
			animation-duration: $animationDuration
			animation-timing-function: linear
			animation-iteration-count: infinite
			$colors: (#97B230,#f6b20e,#FFACAC)
			@for $i from 1 through $amount
				&:nth-child(#{$i})
					color: nth($colors, random(length($colors)))
					top: random(100) * 1%
					left: random(100) * 1%
					animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s
					animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s
					transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh
					$blurRadius: (random() + 0.5) * $particleSize * 0.5
					$x: if(random() > 0.5, -1, 1)
					box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor

		@keyframes move
			100%
				transform: translate3d(0, 0, 1px) rotate(360deg)

	+e('title')

		+margin-y(30px)

		+min(md)
			+margin-y(45px)


	+e('subtitle')

		+margin-y(15px)

	+e('link')
		display: block
		text-decoration: none
		font-family: 'Gotham Pro Bold'
		color: inherit
		+transition

		&:hover
			color: $color-brand-2

		&:not(:last-child)
			margin-bottom: 5px

		&-text
			display: inline-block
			+relative

			&:before
				content: ""
				position: absolute
				top: 100%
				left: 0
				width: 100%
				height: 2px
				background-color: $color-brand-2
				transform: scaleX(0)

				+transition

		&:hover &-text
			&:before
				transform: none

