extends /extends/layout
block variables
	- var title = 'Soon will even be more juicy';
	- var description = 'Soon will even be more juicy';
	- var url = 'http://www.rocketjuicefilm.productions/';
	- var image = 'img/logo.png';

block nav
block content
	include /components/header